---
import Layout from '../layouts/layout.astro';
---
<Layout title="Contacto">
  <h1>Contacto</h1>
  <h2 class="font-display">Hablemos</h2>
  <p>Estamos para ayudarte. Escribinos y te respondemos a la brevedad.</p>
</Layout>

