---
import Layout from '../layouts/layout.astro';
---
<Layout>
  <p>Metalurgia de confianza</p>
  <h1 class="font-display">Soluciones en metal con <strong>calidad</strong> y compromiso</h1>
  <p>Más de años de experiencia en la industria metalúrgica argentina, trabajando con dedicación y cercanía.</p>
</Layout>
