---
import Layout from '../layouts/layout.astro';
---
<Layout>
  <h1>Qué fabricamos</h1>
  <h2 class="font-display">Nuestros productos</h2>
  <p>Producimos piezas y componentes metálicos de alta calidad, adaptados a las necesidades específicas de cada cliente.</p>
</Layout>

