---
import Layout from '../layouts/layout.astro';
---
<Layout title="Servicios">
  <h1>Qué hacemos</h1>
  <h2 class="font-display">Nuestros servicios</h2>
  <p>Ofrecemos soluciones metalúrgicas integrales, adaptándonos a las necesidades de cada proyecto.</p>
</Layout>

