---
const { title } = Astro.props;
---
<header>
  <h1>{title}</h1>
  <nav>
    <a href="/">Inicio</a>
    <a href="/nosotros">Nosotros</a>
    <a href="/servicios">Servicios</a>
    <a href="/productos">Productos</a>
    <a href="/contacto">Contacto</a>
  </nav>
</header>
