---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
const title = 'Industrias Proba SA';
---
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{title}</title>
</head>
<body>
  <Header title={title} />
  <main>
    <slot /> <!-- content is injected here -->
  </main>
  <Footer title={title} />
</body>
</html>

